@font-face {
    font-family: 'Roboto-Regular';
    src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
}
@font-face{ 
    font-family: 'Roboto-Bold';
    src: url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
}
:root{
    --Roboto-Regular: 'Roboto-Regular', 'sans serif';
    --Roboto-Bold: 'Roboto-Bold', 'sans serif';
    --Tomato: hsl(4, 100%, 67%);
    --Dark-Slate-Grey: hsl(234, 29%, 20%);
    --Charcoal-Grey: hsl(235, 18%, 26%);
    --Grey: hsl(231, 7%, 60%);
    --White: hsl(0, 0%, 100%);
    --Hot-Pink: hsl(345, 100%, 66%);
}
body{
    font-family: var(--Roboto-Regular);
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    background-color: var(--Dark-Slate-Grey);
}
h2{
    color: var(--Dark-Slate-Grey);
    font-family: var(--Roboto-Bold);
}
input{
    padding: 1rem;
    border-radius: 0.5rem;
    border: solid;
    border-color: var(--Grey);
    border-width: 0.1rem;
}
button{
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border-color: transparent;
    color: var(--White);
    background-color: var(--Dark-Slate-Grey);
    outline: none; 
}
button:hover {
    cursor: pointer;
    outline: none;
    box-shadow: 0 10px 40px var(--Tomato);
    background-image: linear-gradient(to right, var(--Hot-Pink) 10%, var(--Tomato) 60%);
}
.image-container{
    flex: 1;
    padding: 1.5rem 1.5rem 1.5rem 0rem;
}
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.content-container{
    flex: 1;
    padding-left: 4rem;
    padding-right: 4rem;
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
}

#stayUpdatedCard{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 60rem;
    background-color: var(--White);
    border-radius: 2rem;
}
#stay-updated-header{
    margin: 0;
    font-size: 3.5rem;
}
#email-header{
    font-size: 1rem;
}

#stayUpdatedCard.hidden{
    display: none;
}
#thankYouCard.hidden{
    display: none;
}
ul{
    padding-left: 2rem;
}
li{
    list-style-image: url("/assets/images/icon-list.svg");
    margin-bottom: 1rem;
}

.hidden{
    display: none;
}
.attribution { 
    font-size: 11px; text-align: center; 
    padding-top: 2rem;
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
@media screen and (max-width:968px) {
    #stayUpdatedCard{

        flex-direction: column;
        align-items: center;
        max-width: 20.3125rem;
        background-color: var(--White);
        border-radius: 0rem;
    }
    #stay-updated-header{
        font-size: 2.2rem;
        padding-top: 2rem;
    }
    .content-container{
        flex: 1;
        padding-left: 2rem;
        padding-right: 2rem;
    }
    .image-container {
        padding: 0rem;
        width: 100%;
    }
    .image-container img {
        max-height: 18.75rem;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
    button{
        margin-bottom: 2.5rem;
    }
}